/* truong css =============================================================================== */

.footer {
    width: 100%;
    /* height: 410px; */
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer i {
    scale: 1.3;
}

.footer__select {
    max-width: 1000px;
    width: 98%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer__colum1 {
    display: block;
    max-width: 60%;
    width: 100%;
    text-align: left;
    font-size: 14px;
    margin-top: 15px;
}


.footer__colum1 a h3 {
    display: flex;
    margin: 20px 0;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 600;
}


.footer__colum1 a {
    position: relative;
    color: white;
    display: inline-flex;


}

.about__us__inner {
    display: grid;
}

.about__us__inner a {
    width: 450px;
    margin: 15px 0;
    margin-left: 10px;

}

.footer__colum1 i {
    line-height: 12px;
    margin-right: 10px;
}

.footer__colum2 {
    max-width: 40%;
    width: 100%;
    margin: 0 auto;

}

.footer__colum2__inner {
    position: relative;
    width: 90%;
    margin-top: 87px;
    height: auto;

}

.group {
    width: 100%;
    height: 98%;
    position: absolute;
    background-color: #00000080;
}

.name__page {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 25%;
    margin-top: 15px;
}

.name__page a {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    position: relative;
    margin: 0;

}

.name__page h4 {
    color: white;
    font-size: 10px;
    margin-left: 1px;
    margin-top: 2px;
    font-weight: 500;
    font-family: overpass;
}

.name__page a m {
    opacity: 1;
}

.name__page i {
    scale: 0.8;
    color: #1E90FF;
    /* position: absolute;
    top: -21px; */
}

.avatar__img img {
    width: 20%;

    margin: 10px;
    border: 1px white solid;

}

.cover__img img {
    width: 100%;
    height: 100%;
}

.folow__page {
    position: absolute;
    bottom: 8px;


    margin-left: 10px;

}

.folow__page a {
    background-color: #ffffffbb;
    border-radius: 2px;



    margin-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 4px;
}

.folow__page i {

    margin-right: 5px;
    position: relative;
    vertical-align: middle;

}

.folow__page a:hover {
    background-color: white;
}

.share__page {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.share__page a {
    padding: 4px;
    color: black;
    background-color: #ffffffbb;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

.share__page i {
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
}

.share__page a:hover {
    background-color: white;
}
.service__customer__list__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service__customer__list a {
    margin: 15px 0;
    margin-left: 10px;
    margin-right: 55px;
}



.footer__last {
    display: flex;

    width: 100%;
    height: 60px;
    background-color: #222;

}

.footer__last__select {
    width: 100%;
    max-width: 1000px;

    margin: 0 auto;
    text-align: left;
    border-top: 1px white solid;
}

.footer__last__select a {
    display: flex;
    color: white;
    /* margin-left: 10px; */
    font-size: 14px;

}




.footer__colum1 a:hover {
    color: red;
}

.footer__colum2 a:hover {
    text-decoration: underline;
}

.footer__last__select {
    display: flex;
    align-items: center;
    
}

.footer__last__select__inner {
    display: flex;
    align-items: center;
}

.footer__last__select__inner i {
    margin-right: 10px;
    margin-left: 10px;
}


/* ==================== MEDIA ==================== */

@media (max-width: 1000px) {
    .header__inner__menu {
        display: flex;
    }
    .footer,
    .footer__select {
        flex-direction: column;
        align-items: center;
        /* height: 800px; */
    }

    .footer__colum1,
    .footer__colum2 {
        max-width: 500px;
        width: 100%;
        /* height: 400px; */
    }

    .footer__colum1 h3 {
        text-align: center;
    }
    .footer__colum1 a h3{
        margin-right: 0;
        line-height: 30px;
    }
    .footer__colum1 a{
        margin-left: 0;
        align-items: center;
        text-align: left;
    }
    
    .service__customer__list {
        width: 100%;
        display: flex;
        height: 100%;
    }
    .service__customer__list a {
        margin: 0;
        margin: 15px 9px;
    }
    .service__customer__list__inner {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .footer__last__select {
        max-width: 500px;
        width: 100%;
    }

    .footer__colum1__inner {
        display: flex;
        width: 100%;
    }

    .footer__colum1__inner a {
        display: flex;
        margin: 0 auto;
        /* margin-top: 15px; */
    }
    /* .footer__colum2{
        border-top: 1px white solid;
        margin-top: 10px;
    } */
    .footer__colum2__center{
        margin-top: 10px;
    }
    .about__us {
        width: 100%;
        text-align: center;
        line-height: 20px;
    }

    .about__us__inner {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about__us__inner a{
        width: 235px;
        margin: 15px 5px;
        /* display: inline; */
    }
    /* .footer__colum2{
        display: ;
        background-color: green;
    } */
    /* .footer__colum2__inner{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    } */
    .footer__colum2__inner {
        margin: 0 auto;
        /* margin-top: 60px; */

    }

    .footer__last__select i{
        margin-right: 10px;
    }
    .footer__last__select__inner {

        margin: 0 auto;
    }
}

@media (max-width: 520px){
    .about__us__inner{
        justify-content: center
    }
}