/* .body{
    font-family: 'Overpass';
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    width: 100%;
    background-color: #000000;
}

.footer__grid{
    max-width: 1200px;
    width: 100%;
}
.grid__row{
    display: flex;
    justify-content: space-between;
}

*{
    color: aliceblue;
}
.grid__column-4{
    flex: 1;
    max-width: 212px;
}
.footer__heading{
    line-height: 24px;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.footer__list{
    padding-left: 0px;
    list-style: none;
}

.footer__item{
    width: max-content;
}
.footer__item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #aa9696;
    padding: 5px 0;
    display: block;
    max-width: max-content;
}

.footer__item::after{
    display: block;
    width: 100%;
    content: "";
    height: 2px;
}
.footer__item__link:hover{
    color: white;
}
.footer__item__link:hover .footer__item::after{
    
    background-color: #f60334;  
}
.footer__item__icon{
    font-size: 1.6rem;
    margin-right: 6px;
}
.footer__list-1{
    display: flex;
}
 */

.footer {
    width: 100%;
    /* height: 410px; */
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 14px; */
}

.footer i {
    scale: 1.3;
}

.footer__select {
    max-width: 1000px;
    width: 100%;
    /* height: 100%; */
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}

.footer__colum1 {
    display: block;

    width: 100%;
    /* background-color: gray; */
    text-align: left;
    font-size: 14px;
    margin: 0 12px;
}

.footer__colum1 a h3 {
    display: flex;
    margin: 12px;
    color: white;
    /* margin-right: 10px; */
    font-size: 23px;
    line-height: 28px;
}

.about__website a {
    margin-bottom: 20px;
}

.footer__colum1 a {
    position: relative;
    color: white;
    display: inline-flex;
    margin-top: 15px;
}
.footer__colum2__center{
    display: flex;
    justify-content: center;
}

.footer__colum1 i {
    /* line-height: 12px; */
    /* margin-right: 4px; */
}

.footer__colum2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__colum2__inner {
    position: relative;
    width: 90%;
    /* margin-top: 87px; */
    /* height: auto; */
}

.group {
    min-height: 140px;
    min-width: 244px;
    width: 100%;
    height: 98%;
    position: absolute;
    background-color: #00000080;
}

.name__page {
    position: absolute;
    margin-left: 25%;
    margin-top: 15px;
}

.name__page a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    position: relative;
    margin: 0;

}

.name__page h4 {
    color: white;
    font-size: 10px;
    margin-left: 1px;
}



.name__page i {
    scale: 0.8;
    color: #1E90FF;
    position: absolute;
    top: 0px;
}

.avatar__img img {
    width: 20%;
    height: 34.64%;
    margin: 10px;
    border: 1px white solid;
    position: absolute;
    position: relative;
}

.cover__img{

}

.cover__img img {
    width: 100%;
    min-width: 244px;
    max-width: 442px;
}

.folow__page {
    position: absolute;
    bottom: 8px;


    margin-left: 10px;

}

.folow__page a {
    background-color: #ffffffbb;
    border-radius: 2px;


    /* margin-left: 22px; */
    margin-right: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 4px;
}

.folow__page i {
    /* scale: 2; */
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
    /* color: #1E90FF; */
}

.folow__page a:hover {
    background-color: white;
}

.share__page {
    position: absolute;
    bottom: 8px;
    right: 10px;
}

.share__page a {
    padding: 4px;
    color: black;
    background-color: #ffffffbb;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
}

.share__page i {
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
}

.share__page a:hover {
    background-color: white;
}

.service__customer__list a {
    min-width: 144px;
    /* display: inline-flex;
    
    margin-top: 10px;
    color: white; */

    /* margin-right: 120px; */
}

/* .service__customer__list__inner  a:not(:last-child){
    margin-right: 4px;
} */
/* .service__customer__list__inner  a:not(:first-child){
    margin-left: 4px;
} */


.footer__last {
    display: flex;
    /* align-items: center; */
    width: 100%;
    height: 60px;
    background-color: #222;

}

.footer__last__select {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;

    /* background-color: rgb(0, 0, 0); */
    margin: 0 auto;
    text-align: left;
    /* margin-top: 10px; */

    border-top: 1px white solid;
}

.footer__last__select a {
    display: flex;
    color: white;
    margin-left: 10px;
    font-size: 14px;
    /* margin-top: 45px; */
}

/* .footer__last__select i{
    margin-right: 10px;
    line-height: 1px;
} */


.footer__colum1 a:hover {
    color: goldenrod;
}

.footer__colum2 a:hover {
    opacity: 0.8;
}

/* ================================================================================================== ĐÂY LÀ PHẦN MENU */


.nen_mo {
    display: none;
    z-index: 9;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.400);
}





.footer__last__select {
    display: flex;

    align-items: center;
}

.footer__last__select__inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__last__select__inner i{
    margin-right: 4px;
}
/* ================================================================================================== ĐÂY LÀ PHẦN ANIMATION */
@keyframes side_right {
    0% {
        opacity: 0;
        left: -300px;
        /* right: calc(100vw); */
    }

    30% {
        opacity: 1;
    }

    100% {
        left: 0;
        opacity: 1;
        /* right: calc(100vw - 300px); */
        /* box-shadow: 10px 10px 1000px 1000px rgba(0, 0, 0, 0.400); */
    }
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ================================================================================================== ĐÂY LÀ PHẦN MEDIA */

@media (max-width: 1000px) {
    .header__inner__menu {
        display: flex;
    }
    .footer,
    .footer__select {
        flex-direction: column;
        align-items: center;
        /* height: 800px; */
    }

    .footer__colum1,
    .footer__colum2 {
        max-width: 500px;
        width: 100%;
        /* height: 400px; */
    }

    .footer__colum1 h3 {
        text-align: center;
    }
    .footer__colum1 a h3{
        margin-right: 0;
        line-height: 30px;
    }
    .footer__colum1 a{
        margin-left: 0;
        align-items: center;
        text-align: left;
    }
    
    .service__customer__list {
        width: 100%;
        display: flex;
        height: 100%;
    }
    .service__customer__list a {
        margin: 0;
        margin: 15px 9px;
    }
    .service__customer__list__inner {
        display: block;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .footer__last__select {
        max-width: 500px;
        width: 100%;
    }

    .footer__colum1__inner {
        display: flex;
        width: 100%;
    }

    .footer__colum1__inner a {
        display: flex;
        margin: 0 auto;
        /* margin-top: 15px; */
    }
    /* .footer__colum2{
        border-top: 1px white solid;
        margin-top: 10px;
    } */
    .footer__colum2__center{
        margin-top: 10px;
    }
    .about__us {
        width: 100%;
        text-align: center;
        line-height: 20px;
    }

    .about__us__inner {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .about__us__inner a{
        width: 235px;
        margin: 15px 5px;
        /* display: inline; */
    }
    /* .footer__colum2{
        display: ;
        background-color: green;
    } */
    /* .footer__colum2__inner{
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    } */
    .footer__colum2__inner {
        margin: 0 auto;
        /* margin-top: 60px; */

    }

    .footer__last__select i{
        margin-right: 10px;
    }
    .footer__last__select__inner {

        margin: 0 auto;
    }
}

@media (max-width: 520px){
    .about__us__inner{
        justify-content: center
    }
    .about__us__inner a{
        width: 300px;
        /* width: 100%; */
        display: flex;
        justify-content: center;
    }
}