.container{
    display: flex;
}

.container__sanpham {
    /* margin: 50px ; */
    text-align: center;
}

.container__sanpham h1{
    margin-top: 20px;
}

/* Định kiểu cho container chứa sản phẩm */
.container__danhmucsanpham {
    position: relative;
    display: inline-block; /* Hiển thị các container cạnh nhau theo chiều ngang */
    margin: 10px; /* Tạo khoảng cách xung quanh container */
    border: 5px solid #f3f0f0; /* Tạo viền xung quanh container */
    padding: 10px; /* Tạo khoảng cách giữa viền và nội dung bên trong */
    text-align: center; /* Căn giữa nội dung bên trong container */
    vertical-align: top; /* Căn đỉnh các container khi hiển thị cạnh nhau */
    width: 250px; /* Chiều rộng cố định cho container */
    height: 350px; /* Chiều cao cố định cho container */
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước tổng thể */
}
.info-top-left, .info-top-right {
    position: absolute;
    bottom: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 5px;
}

.info-top-left {
    left: 10px;
}

.info-top-right {
    right: 10px;
}


/* Định kiểu cho ảnh sản phẩm */
.container__danhmucsanpham img {
    width: 100%; /* Chiều rộng của ảnh bằng 100% chiều rộng của container */
    height: 200px; /* Chiều cao cố định của ảnh */
    object-fit: cover; /* Đảm bảo ảnh phủ đầy khung hình mà không làm thay đổi tỷ lệ của nó */
    border: 1px solid #000; /* Tạo viền xung quanh ảnh */
    display: block; /* Hiển thị ảnh dưới dạng khối */
    margin: 0 auto 10px; /* Tạo khoảng cách dưới ảnh */
    transition: transform 0.3s ease; /* Tạo hiệu ứng chuyển đổi khi thay đổi kích thước ảnh */
}

/* Hiệu ứng khi di chuột vào ảnh */
.container__danhmucsanpham img:hover {
    transform: scale(1.05); /* Phóng to ảnh khi di chuột vào */
    cursor: pointer; /* Thay đổi con trỏ chuột thành hình dạng nút nhấn */
    border-color: goldenrod; /* Thay đổi màu viền của ảnh */
}

.container__danhmucsanpham__tadon {
    margin-top: 50px;
    height: 115px;
    width: 100%;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Định kiểu cho phần tử cha chứa các container sản phẩm */
.parent__container {
    text-align: center; /* Căn giữa nội dung bên trong phần tử cha */
    width: 100%; /* Chiều rộng phần tử cha chiếm toàn bộ chiều rộng của phần tử chứa nó */
    background-color: rgb(35, 35, 35); /* Màu nền cho phần tử cha */
}
